body {
  background-color: rgb(65, 65, 65);
}

h3 {
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.job_div {
  float: left;
  margin-top: 20px;
	margin-left: 1vw;
  border: 1px solid rgb(255, 255, 255);
  border-collapse: collapse;
  background-color: rgb(192, 192, 192);
	min-width: 440px;
  height:750px;
}

.field_div {
  height: auto;
  line-height: 50px;
  padding-left: 5px;
}

button {
  height: 30px;
  width: 80px;
  margin-top: 10px;
  border-radius: 4px;
}

.job_div div {
  border: 1px solid rgb(255, 255, 255);
}

input[type="text"] {
  right: 0;
}
#volo{
	width:100%;
	margin:auto;
}
